<!DOCTYPE html>
<html>
  <head>
    <title>RailsCourse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 style="color: #B00100;">Admin Panel</h2>
    <%= yield %>
  </body>
  <footer>
    <p>For any questions contact us by email: elnuratek@gmail.com</p>
  </footer>
</html>
